<h1>編集</h1>
<%= from_with model: @post, local: true do |from| %>
    <div>
        <%= from.label :title, "タイトル" %>
        <%= from.text_field :title %>
    </div>
    <div>
        <%= form.label :content, "内容" %>
        <%= from.text_field :contet %>
    </div>
    <div>
        <%= from.submit "送信" %>
    </div>
<% end %>
